#bg{
	width: 100%;
	position: absolute;
}

.button{
	position: absolute;
	border: 2px solid #e83862;
	border-radius: 25px;
	top: 600px;
	padding: 0px 20px;
}

.button p{
	margin: 3px 0px;
}

#switch-btn{
	padding: 8px;
	border-radius: 12px;
	background-color: #58baaa;
	position: fixed;
	left: 10px;
	bottom: 10px;
	z-index: 1;
}

#switch-btn p{
	margin:0;
}

#switch-btn:hover{
	cursor: pointer;
}

a:link{
	color: #000000;
}

a:visited{
	color:#000000;
}
